.content{
    position: absolute;
    top: -10px;
    background-color: #0000009d;
    width: 100%;
    height: 100%;
    z-index: 4;

}

.modal{
    position: relative;
    top: 180px;
    background-color: #1f1f1f;
    border-radius: 15px ;
    margin: auto;
    z-index: 5;
    font-family: gordita;
    
}

.open{
    display: flex;
    flex-direction: column;
}

.openClose{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    margin: 0 5%;
    text-align: left;
}

.title1{
    color: var(--cor-2);
    font-size: 16px;
    margin: 0;
}

.btClose {
    background-color: transparent;
    border: none;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.76));
}

.title2{
    color: var(--cor-2);
    font-size: 14px;
}

.formContent {
    display: flex;
    gap: 20px;
    padding: 10px 20px;

    flex-direction: column;
    align-items: flex-start;

    text-align: left;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.subtitle{
    color:#fff;
    font-size: 10px;
}


@media screen and (max-width: 360px)
  {
    .modal{
      margin: 5%;
    }

    .openClose{
        gap: 5%;
        
    
    }
  }  