.content{
    position: absolute;
    top: -10px;
    background-color: #0000009d;
    width: 100%;
    height: 100%;
    z-index: 4;
    font-family: gordita;
}

.modal{
    width: 80%;
    position: relative;
    top: 180px;
    background-color: transparent;
    border-radius: 15px ;
    margin: auto;
    z-index: 5;
    font-family: gordita;

}

.containerDestaqueAtiva{
    display: flex;
    position: absolute;
    justify-content: center;
    
    top: -40px; 
    width: 97%;
    height: 90px;
    
    background: linear-gradient(30deg, #008D1E 20%, #4AD62B 80%);

    border-radius: 20px;
    box-shadow: 0px 0px 5px #333;
    z-index: -1;
    
}

.destaque{
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin: 15px auto;

}
/* plano de internet +  plano móvel */

.combo{
    background-color: var(--cor-3);
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 5px #333;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;

    
}

.combo h2{
    color: #fff;
    margin: 0;
}

.combo h3{
    color: white;
    font-family: gordita;
    font-weight: 400;

    margin: 0 0 10px 0;
}

.combo h3 strong{
    color: var(--cor-2);
    font-weight: 400;
}

.combo h4{
    color: var(--cor-2);
    font-size: 30px;
    font-family: gordita;
    font-weight: 600;

    margin: 0 0 10px 0;
}

/* plano de internet +  plano móvel */

.apenasChip{
    background-color: var(--cor-7);
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0 0 10px 10px;
    padding: 30px 10px 10px 10px;

    position: relative;
    top: -10px;
    z-index: -1;
}

.apenasChip h2{
    color: #fff;
    margin: 0;
}

.apenasChip h3{
    color: white;
    font-family: gordita;
    font-weight: 400;

    margin: 0 0 10px 0;
}

.apenasChip h3 strong{
    color: var(--cor-2);
    font-weight: 400;
}

.apenasChip h4{
    color: var(--cor-2);
    font-size: 30px;
    font-family: gordita;
    font-weight: 600;

    margin: 0 0 10px 0;
}

.title1{
    color: var(--cor-2);
    font-size: 16px;
    margin: 0;
}

.btClose {
    background-color: transparent;
    border: none;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.76));
}

.title2{
    color: var(--cor-2);
    font-size: 14px;
}

.formContent {
    display: flex;
    gap: 20px;
    padding: 10px 20px;

    flex-direction: column;
    align-items: flex-start;

    text-align: left;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.subtitle{
    color:#fff;
    font-size: 10px;
}

.button{
    display: block;
    
    width: 100%;
    text-align: center;
    margin: 8px auto 20px auto;
    padding: 0.8rem;
    font-size: 14px;
    border-radius: 15px;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.11));
    color: #ffffff;
    font-weight: 500;
    font-family: gordita;

    background: var(--cor-5);
    border: none;
    cursor: pointer;
}

.buttonChip{
    display: block;
    
    width: 80%;
    text-align: center;
    margin: 8px auto 20px auto;
    padding: 0.8rem;
    font-size: 14px;
    border-radius: 15px;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.11));
    color: #ffffff;
    font-weight: 500;
    font-family: gordita;

    background: #313131;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 360px)
  {
    .modal{
      margin: 5%;
    }

    .openClose{
        gap: 5%;
        
    
    }
  }  