.container{
    margin: 0 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Gordita;
}

.container h2{
    font-size: 20px;
    font-weight: 600;
    margin: 20px auto 20px auto;
}

.container p {
    margin: auto auto 10px auto;
}

.container h3{
    font-size: 18px;
    font-weight: 500;
    margin: 5px auto 15px auto;
    color: var(--cor-2);
}

.container ul li{
    margin: 10px auto;
    list-style:disc;
}