.whatsApp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: fixed;
    right: 120px;
    bottom: 75px;

    z-index: 2;

    cursor: pointer;
    transition: 0.1s;
}

.whatsApp:hover{
    scale: 1.1;
}

.whatsApp p {
    font-size: 16px;
    color: white;
}