.content{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: auto;
    width: 0px;
    font-family: gordita;
}

.video{
    margin: 10px auto 10px auto;
}

.title1{
    width: 300px;
    line-height: 38px;
    font-size: 35px;
    
    font-weight: 800;

}

.title1 strong{
    color: var(--cor-2);
}

.card{
    width: 100px;
    height: 90px;
}

.title2{
    width: 200px;
    line-height: 30px;
    font-size: 25px;
    margin: 10px auto 10px 0px;
    color: var(--cor-2);
    font-weight: 800;
}

.imgContent{
    width: 110%;
    overflow: hidden;
    margin: 20px auto;
}

.fotoContent{
    display: flex;
    gap: 10px;
    
    animation: fotoHayp 15s forwards infinite;
}

@keyframes fotoHayp{
    0%, 10% {
        transform: translateX(0%);
    
      }
    
      20%, 30% {
        transform: translateX(-88%);
    
      }

      40%, 50% {
        transform: translateX(-178%);
    
      }

      60%, 70% {
        transform: translateX(-265%);
    
      }

}

.carinhas1{
    display: flex;
    align-items: center;
    position: relative;
    left: 30px;
}

.carinhas2{
    display: flex;
    align-items: center;
    position: relative;
    right: 20px;

    gap: 15px;
}

.carinhas3{
    display: flex;
    align-items: center;
    position: relative;
    left: 30px;
}

.carinhas4{
    display: flex;
    align-items: center;
    position: relative;
    right: 30px;

    gap: 20px;

}



.img{
      
    width: 35px;
    height: 35px;

    rotate: ;
}

.subtitle1{
    
    color: var(--cor-2);
}

.subtitle2{
    margin-top: 50px;
    color: var(--cor-2);
}

.subtitlefooter{
    font-size: 10px;
    margin: 30px auto ;
}

.valores{
    font-weight: 600;
    color: var(--cor-2);
}

.textValores{
    margin: 10px auto 30px auto;
}

@media screen and  (min-width: 430px){

    .content {
        
        
        margin: auto;
        
    }
    
}

@media screen and  (min-width: 1080px){

    .content {
        
        width: 450px;
        margin: auto;
        
    }
    
}

