.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin-bottom: 40px;
}

.container h3{
    font-size: 25px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.video{
    width: 290px;
    height: auto;

    border-radius: 10px;
}