.imgRedes{
    display: flex;
    
  
    margin: 5px auto;
    width: 30px;
    height: auto;
    
    border: 1px solid var(--cor-2) ;
    
    border-radius: 100px;
    padding: 5px;
  }

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0px;
  }

  .redesSociais{
    
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;    
  
    background: linear-gradient(90deg, #222222c3 0%, #222222c3 89%);
    width: 100vw;
    height: auto;
    padding: 10px 0;
  
    border-radius: 10px 10px 0 0;
  }
  
  .dados1{
    font-weight: 300;
    margin-bottom: 5px;
  }
  
  .dados2{
    color: var(--cor-2);
    
  }