/* .imgRedes{
    display: flex;
    
  
    margin: 5px auto;
    width: 30px;
    height: auto;
    
    border: 1px solid var(--cor-2) ;
    
    border-radius: 100px;
    padding: 5px;
  }

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0px;
  }

  .redesSociais{
    
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;    
  
    background: linear-gradient(90deg, #222222c3 0%, #222222c3 89%);
    width: 100vw;
    height: auto;
    padding: 10px 0;
  
    border-radius: 10px 10px 0 0;
  }
  
  .dados1{
    font-weight: 300;
    margin-bottom: 5px;
  }
  
  .dados2{
    color: var(--cor-2);
    
  } */

.container{
    background-color: var(--cor-3);
    position: relative;
    margin: auto;
}

.logoAnimado {
  display: none;
}

.container a{
    width: auto;

}

.container h4{
    font-size: 20px;
    color:var(--cor-2);
    margin-bottom: 20px;
}

.containerFooter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    margin: auto 15%;
    position: relative;
}

.lista1 ul, .lista2 ul, .lista3 ul {
  padding: 0px;
}

.lista3 ul li{
    display: flex;
    gap: 10px;
    
}

.lista3 h5, .lista3 p{
  
  margin: 0px 0px 10px 0px;
}

.lista4{
    width: auto;
}

.lista4 strong{
    color: var(--cor-2);
}



.lista4 ul li{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px auto;
}

.localiza{
    display: flex;
    gap: 5px;
}

ul li .localiza{
  position: relative;
  right: 42px;
}

.localiza p {
  margin: 0px 0px 10px 0px;
}



.endFooter{

    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.endFooter h6{
    font-size: 12px;
    font-weight: 300;
}

.endFooter strong{
    color: var(--cor-2);
    font-size: 12px;
    font-weight: 600;
}

.redesSociais{
    display: flex;
    gap: 10px;
}


