.imgRedes{
    display: flex;
    
  
    margin: 5px auto;
    width: 30px;
    height: auto;
    
    border: 2px solid var(--cor-2) ;
    
    border-radius: 100%;
    padding: 5px;
  }

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .redesSociais{
    
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 1px;
    
  
    background: linear-gradient(90deg, #222222c3 0%, #222222c3 89%);
    width: 100vw;
    height: auto;
    padding: 10px 0;
  
    border-radius: 10px;
  }
  
  .dados1{
    font-weight: 300;
    margin-bottom: 5px;
  }
  
  .dados2{
    color: var(--cor-2);
    
  }
  
  
  @media screen and (max-width: 360px)
    {
      .footer{
        margin: 0px 20px;
      }
      .redesSociais{
        margin-bottom: 20px;
        margin-top: 0;
      }
    }  