.content{
    position: absolute;
    top: -10px;
    background-color: #0000009d;
    width: 100%;
    height: 100%;
    z-index: 4;
    font-family: gordita;
}

.contentGiga {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttonAction{
    background-color: transparent;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.76));
}

.buttonActionOpacity{
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.76));
}
.buttonActionOpacity span{
    font-size: 35px;
    font-weight: 800;
    color: var(--cor-2);
    margin: 0;
    position: relative;
    bottom: 3px;
}


.buttonAction span{
    font-size: 35px;
    font-weight: 800;
    color: var(--cor-2);
    margin: 0;
    position: relative;
    bottom: 3px;
}

.giga {
    font-size: 45px;
    color: #fff;
    margin: 0 0;

}

.price{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin: 0;
}

.price small{
    position: relative;
    top: -18px;
    opacity: 0.50;
    font-weight: 500;
    color: #ffffff;
}

.price span{
    font-size: 14px;
    
}

.price h4{
    font-size: 35px;
    text-align: center;
    color: var(--cor-2);
    margin: 0;
}

.modal{
    width: 80%;
    position: relative;
    top: 180px;
    background-color: transparent;
    border-radius: 15px ;
    border: none;
    margin: auto;
    z-index: 5;
    font-family: gordita;
    left: -8px;

}

.containerDestaqueAtiva{
    display: flex;
    position: absolute;
    justify-content: center;
    
    top: -40px; 
    width: 97%;
    height: 90px;
    
    background: linear-gradient(30deg, #008D1E 20%, #4AD62B 80%);

    border-radius: 20px;
    box-shadow: 0px 0px 5px #333;
    z-index: -1;
    
}

.destaque{
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin: 15px auto;

}
/* plano de internet +  plano móvel */

.combo{
    background-color: var(--cor-3);
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 5px #333;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;

    
}

.combo h2{
    color: #fff;
    margin: 0;
}

.combo h3{
    color: white;
    font-family: gordita;
    font-weight: 400;
    font-family: 12px;
    margin: 0 0 0px 0;
}

.combo h3 strong{
    color: var(--cor-2);
    font-weight: 400;
}

.combo h4{
    color: var(--cor-2);
    font-size: 30px;
    font-family: gordita;
    font-weight: 600;

    margin: 0 0 10px 0;
}
/* Beneficios */

.activeBeneficios{
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.activeBeneficios h2{
    font-size: 16px;
}

.planos p {
    margin: 0;
    color: #fff;
}

.buttonBeneficios{
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 5;
}

.verMaisBeneficios{
    transform: rotate(180deg);
    transition: 100ms;
}

.verMaisBeneficiosFechado{
    transform: rotate(360deg);
    transition: 100ms;
    
}

/* Inicio dos beneficios */

.containerBeneficios{
    position: relative;
    top: -5px;
    padding: 20px 35px 20px 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;

    width: 80%;
    margin: auto;
    background-color: var(--cor-6);
    border-radius: 10px;
    box-shadow: 0px 0px 5px #333;
    height: 0px;
}

.containerBeneficiosAberto{
    position: relative;
    top: -5px;
    padding: 20px 35px 20px 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;

    width: 80%;
    margin: auto;
    background-color: var(--cor-6);
    border-radius: 10px;
    box-shadow: 0px 0px 5px #333;
    height: auto;
}

.contentBeneficios{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;

    text-align: left;
}

.contentBeneficiosFechado{
    display: none;
}

.containerBeneficios h5, .containerBeneficiosAberto h5{
    font-weight: 600;
    font-size: 16px;
}

.containerBeneficios p, .containerBeneficiosAberto p{
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
}

.containerBeneficios strong, .containerBeneficiosAberto strong{
    color: var(--cor-2);
}

.imgBeneficios{
    display: flex;
    gap: 10px;
    margin: 15px 0;

}

/* plano de internet +  plano móvel */

.btRemoverChip{
    margin-bottom: 20px;
    border: solid 0.5px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: transparent;
    color: red;
    font-weight: 500;
    font-family: gordita;
    font-size: 10px;
    opacity: 0.5;
}

.adicionarChipHidden{
    display: none;
}

.adicionarChip{
    background-color: var(--cor-7);
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0 0 10px 10px;
    padding: 30px 10px 10px 10px;

    position: relative;
    top: -10px;
    z-index: -1;
}

.adicionarChip h2{
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    width: 130px;
    margin: 10px auto;
}

.adicionarChip h3{
    color: white;
    font-family: gordita;
    font-weight: 400;

    margin: 0 0 10px 0;
}

.adicionarChip h3 strong{
    color: var(--cor-2);
    font-weight: 400;
}

.adicionarChip h4{
    color: var(--cor-2);
    font-size: 30px;
    font-family: gordita;
    font-weight: 600;

    margin: 0 0 10px 0;
}

.btAdicionarChip {
    background: transparent;
    border: none;
    cursor: pointer;
}

.chip{
    transform: rotate(180deg);
    transition: 500ms;
}

.removerChip{
    transform: rotate(360deg);
    transition: 500ms;
}

.title1{
    color: var(--cor-2);
    font-size: 16px;
    margin: 0;
}

.btClose {
    background-color: transparent;
    border: none;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.76));
}

.title2{
    color: var(--cor-2);
    font-size: 14px;
}

.formContent {
    display: flex;
    gap: 20px;
    padding: 10px 20px;

    flex-direction: column;
    align-items: flex-start;

    text-align: left;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.subtitle{
    color:#fff;
    font-size: 10px;
}

.containerButtons{
    display: flex;
    gap: 20px;
}

.button{
    display: block;
    
    width: 100%;
    text-align: center;
    margin: 8px auto 20px auto;
    padding: 0.8rem;
    font-size: 14px;
    border-radius: 15px;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.11));
    color: #ffffff;
    font-weight: 500;
    font-family: gordita;

    background: var(--cor-5);
    border: none;
    cursor: pointer;
}

.buttonRemove{
    display: block;
    
    width: 100%;
    text-align: center;
    margin: 8px auto 20px auto;
    padding: 0.8rem;
    font-size: 14px;
    border-radius: 15px;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.11));
    color: var(--cor-7);
    font-weight: 500;
    font-family: gordita;

    background: var(--cor-3);
    border: none;
    cursor: pointer;
}

.buttonChip{
    display: block;
    
    width: 80%;
    text-align: center;
    margin: 8px auto 20px auto;
    padding: 0.8rem;
    font-size: 14px;
    border-radius: 15px;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.11));
    color: #ffffff;
    font-weight: 500;
    font-family: gordita;

    background: #313131;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 360px)
  {
    .modal{
      margin: 5%;
    }

    .openClose{
        gap: 5%;
        
    
    }
  }  