.contianer-telefone{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.Lista-Telefone ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.Lista-Telefone ul li{
    font-family: gordita;
    font-size: 16px;
}

.Lista-Telefone ul li img{
    position: relative;
    margin-right: 10px;
}

.icones-telefone ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.icones-telefone ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icones-telefone ul li img{
    display: flex;
    position: relative;
    
}

.iconTelefone{
    width: 30px;
    height: 30px;
    margin: 0;
}

.imgTelefone{
    width: 598px;
    height: auto;
}