.contianer-telefone{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

.Lista-Telefone{
    display: flex;
    text-align: left;
}

.Lista-Telefone ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.Lista-Telefone ul li{
    font-family: gordita;
    font-size: 16px;
}

.Lista-Telefone ul li img{
    position: relative;
    margin-right: 10px;
}

.button-telefone2{
    display: none;
}

.icones-telefone ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
    left: 120px;
}

.icones-telefone ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icones-telefone ul li img{
    display: flex;
    position: relative;
    
}

.iconTelefone{
    width: 30px;
    height: 30px;
    margin: 0;
}

.imgTelefone{
    width: 598px;
    height: 200px;
}

@media screen and (max-width: 600px) {
    
    .contianer-telefone{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
        margin: 0px ;
    }

    .Lista-Telefone{
        flex-direction: column;
        text-align: center;
    }

    .icones-telefone ul{
        display: flex;
        flex-direction: row;
        gap: 30px;
        position: relative;
        left: 0px;
    }

    .button-telefone1{
        display: none;
    }
    .button-telefone2{
        display: block;
    }
}