.index-planos{
    display: none;
    gap: 10px;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

/*Começo planos anual, semestral, mensal*/
.index-planos button{
    background: white;
    opacity: 0.4;
    color: black;
    padding: 6px;
    font-family: Gordita;
    font-weight: 500;
    font-size: 77%;
    border-radius: 3px;
    border: none;
    cursor: pointer;

    transition: 250ms;
}

.index-planos .verde {
    opacity: 1;
    color: #fff;
    background-color: var(--cor-2);
}


/*Começo dos planos*/

.content {
    margin-top: 1rem;
}

.listCompleta{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content .container .packages .package-list {
    padding: 10px;
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    color: var(--cor-3);
    border-radius: 8px;
    box-shadow: 0px 0px 5px #333;
}

.content .container .packages {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

.content .container .packages .package-list .package-icon {
    display: block;
    text-align: center;
    font-size: 2em;
    background: white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: -20px;
}

.content .container .packages .package-list .package-info {
    display: flex;
    flex-direction: column;
}

.price-plan h1{
    font-size: 45px;
    font-family: gordita;
    line-height: 45px;
    margin: 10px;
    margin-top: -20px;
    z-index: 1;
}

.content .container .packages .package-list .package-info .desc {
    margin: 1rem auto 1.5rem auto;
    text-align: center;
    font-size: 1rem;
}



.minus{
    position: relative;
    left: 10px;
    bottom: 10px;
}

.plus{
    position: relative;
    right: 10px;
    bottom: 10px;
}

.desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista1{
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 2%;
    justify-content: center;
    align-items: center;
}

.lista1 li{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    
}

.listaBeneficios{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.download{
    font-family: gordita;
    font-weight: 600;
}

.listBeneficios{
    font-family: gordita;
    font-weight: 500;
}

.downloadUpload{
    width: 15px;
    height: 15px;
    margin-right: 5px ;
    font-family: gordita;
    font-weight: 600;
}



.content .container .packages .package-list .package-info p {
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0 05px 0;
}

.content .container .packages .package-list .package-price {
    display: block;
    margin: 0 0 20px 0;
}

.package-price .sale {
    display: block;
    text-align: center;
    color: hsla(0,0%,50%,.356);
    font-family: Gordita;
    font-weight: 800;
    font-size: 20px;
}

.package-price p{
    margin: 5px auto;
}


.content .container .packages .package-list .package-price .price {
    text-align: auto;
    font-size: 1.5em;
    font-weight: 500;
}

.content .container .packages .package-list .package-price .price span {
    font-size: 0.5em;
    font-weight: normal;
}

.price-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container-new-list {
    margin-top: 20px;
    font-size: 14px;
    font-family: "Gordita";
    font-weight: 500;
}

.line-divisor {
    background: linear-gradient(270deg, var(--cor-2) 0%, var(--cor-1) 100%);
    width: 90%;
    height: 5px;
    margin: auto;
    align-self: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-service {
    display: flex;
    flex-direction: column;
    
    margin: 0 0 10px 0;
}

.list-service li {
    padding: 5px;
}

.list-bt {
    display: flex;
    justify-content: center;
    position: relative;
    left: -20px;
    gap: 10px;
    color: #000;
}

.bonus {
    color: var(--cor-1);
    font-size: 12px;
    font-family: "Gordita";
    margin: auto;
}

input[type="checkbox"] {
    position: relative;
    width: 35px;
    height: 15px;
    -webkit-appearance: none;
    background-color: #CACACA;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(85, 85, 85, 0.2);
    transition: .3s;
}

input:checked[type="checkbox"] {
    background: var(--cor-2);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #ffffff;
    transform: scale(1);
    box-shadow: 0 2px 5px rgba(254, 7, 7, 0.2);
    transition: .3s;
}

input:checked[type="checkbox"]:before {
    left: 20px;
}

.content-turbo {
    position: relative;
    display: flex;
    gap: 5px;
    left: -10px;
}

.icon-velocidade {
    position: relative;
    bottom: 78px;
}

.info-content {
    display: flex;
    width: 300%;
}

.channel {
    color: var(--cor-1);
    font-family: "Gordita";
    font-weight: 500;
    font-size: 14px;
}

.content .container .packages .package-list .button,
.green-button {
    display: block;
    transition: 0.2s all ease;
    width: 40%;
    text-align: center;
    margin: 0 auto 20px auto;
    padding: 0.5rem;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.479);
    color: white;

    background: var(--cor-1);
}

.bonusMega {
    margin: 10px 0px;
}

.bonusMega h3{
    font-size: 20px;
    font-weight: 800;
    font-family: gordita;
    margin: 5px 0px 0px 0px;
}

.button .green-button {
    width: 30% !important;
    border: none;
}

.green-button .fa {
    font-size: 14px;
}


/*Barra de contato*/

@media screen and  (min-width: 430px){

    .index-planos button{
        font-size: 100%;
    }
    
    .content .container .packages .package-list {
        
        width: 80%;
        
    }
    
}

@media screen and  (min-width: 810px){

    .content .container .packages .package-list {
        
        width: 450px;
        
    }
    
}