.modal{
    
    background-color: #1f1f1f;
    border-radius: 15px ;
    margin: auto;
    
}

.openClose{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    margin: 0 5%;
    text-align: left;
}

.title1{
    color: var(--cor-2);
    font-size: 16px;
    margin: 0;
}

.btClose{
    border-color: transparent;
    border-radius: 15%;
    background-color: #000;
    padding: 5x;
    color: var(--cor-2);
    width: 30px;
    height: 30px;

    transition: 50ms;
}

.btClose:hover{
    color: yellow;
}

.title2{
    color: var(--cor-2);
    font-size: 14px;
}

.formContent {
    display: flex;
    gap: 20px;
    padding: 10px 20px;

    flex-direction: column;
    align-items: flex-start;

    text-align: left;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.subtitle{
    color:#fff;
    font-size: 10px;
}


@media screen and (max-width: 360px)
  {
    .modal{
      margin: 5%;
    }

    .openClose{
        gap: 5%;
        
    
    }
  }  