.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin-bottom: 20px;
    font-family: gordita;
}

.container h3{
    font-size: 25px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.video{
    width: 250px;
    height: auto;
    border-radius: 10px;
    border:  solid var(--cor-1);
}

.container small{
    color: #777777;
    margin-top: -15px;
    
}

