.content{

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto 19%;

    font-family: gordita;
}

.title1{
    line-height: 35px;

}

.card{
    width: 100px;
    height: 90px;
}

.title2{
    line-height: 20px;
    font-size: 20px;
    margin: 20px auto;
}

.subtitle1{
    
    color: var(--cor-2);
}

.subtitle2{
    
    color: var(--cor-2);
}

.subtitlefooter{
    font-size: 10px;
    margin: 30px auto ;
}

.link{
    color: #fff;
    font-weight: 500;
    
}

.btSaibaMais{
    
    background-color: var(--cor-2);
    padding: 10px 15px;
    border-radius: 10px;
    margin: 20px 20px;
}