.container {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
    
}

.iconHome {
    background-image: url(../../../public/assets/images/icons/home.svg);
    width: 30px;
    height: 30px;

}