.canva{
    width: 300px;
    height: auto;
    background: linear-gradient(360deg, #0a0a0ad9 10%, #04cb3900 80%);

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

.imagen{
    z-index: -1;
}

.logo{
    width: 25%;
    position: absolute;
    bottom: 20px;
}

.container{
    
    display: flex;
    gap: 10px;
    justify-content: center;
}

.main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 500px) {

    .main{
        width: 100%;
        overflow: hidden;
    }

    .container {
      width: 1200px;
      animation: carrossel-canais-aberto 15s infinite;
      display: flex;
      align-items: flex-start;
    }

    .imagen{
        width: 100%;
        height: 500px;
    }

    @keyframes carrossel-canais-aberto {

        0% {
          transform: translateX(0%);
      
        }
      
        25% {
          transform: translateX(-22%);
      
        }
      
        50% {
          transform: translateX(-48%);
          
        }
      
        75% {
          transform: translateX(-72%);
        }
      
      
      
      }
  
  }

  @media screen and (min-width: 900px) {

    .main{
        width: 100%;
        overflow: hidden;
    }

    .container {
      width: 1200px;
      
    }

    .imagen{
        width: 100%;
        height: 500px;
    }

    @keyframes carrossel-canais-aberto {

        0% {
          transform: translateX(0%);
      
        }
      
        25% {
          transform: translateX(-22%);
      
        }
      
        50% {
          transform: translateX(-48%);
          
        }
      
      
      
      }
  
  }

