.container{
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: gordita; 
}


/*Cabeçalho*/

.cobertura {
  cursor: pointer;
}

.header{
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.logo{
  width: 70px;
  padding: 15px;
  margin: 20px;
  background-color: #0000007d;
}

.title{
  margin: 2.5px;
  padding: 2.5px;
  font-size: 1rem;
  font-weight: 400;
}

/*Começo do grid*/

.containerGrid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  gap: 44px;
  align-items: flex-start;

  padding: 0px 25px 25px 25px;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin: auto 0;
  line-height: 20px;
  
}

.img{
  width: 50px;
  height: 50px;
  background: linear-gradient(50deg, var(--cor-1) 0%, var(--cor-2) 59%);
  border-radius: 100%;
  padding: 5px;
  
}

.imgRedes{
  display: flex;
  

  margin: 5px auto;
  width: 30px;
  height: auto;
  
  border: 2px solid var(--cor-2) ;
  
  border-radius: 100%;
  padding: 5px;
}


/*Footer*/
.footer{
  display: none;
  align-items: center;
  justify-content: center;
}

.redesSociais{
  
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1px;
  

  background: linear-gradient(90deg, #222222c3 0%, #222222c3 89%);
  width: 100vw;
  height: auto;
  padding: 10px 0;

  border-radius: 10px;
}

.dados1{
  font-weight: 300;
  margin-bottom: 5px;
}

.dados2{
  color: var(--cor-2);
  
}


@media screen and (max-width: 360px)
  {
    .footer{
      margin: 0px 20px;
    }
    .redesSociais{
      margin-bottom: 20px;
      margin-top: 0;
    }
  }  