.content {
    margin: auto;
    width: 80%;
    font-family: gordita;
    font-weight: 800;
}

.content h1{
    width: 277px;
}
.content h1 strong{
    color: var(--cor-2);
}


.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    background-color: var(--cor-3);
    color: var(--cor-3);
    border-radius: 20px;
    box-shadow: 0px 0px 5px #333;
    padding-bottom: 50px;
}

.containerMovel{
    margin-top: 60px;
    position: relative;
}

.contentTitle{
    margin: 20px auto -20px auto;
}

.contentTitle h1{
    margin: 0;
}

.contentTitle p{
    margin: 0;
    font-size: 17px;
    font-weight: 400;
}

.experiencia {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    bottom: 20px;
    
}
.experiencia img {
    width: 48px;
    height: 74px;
    
}

.experiencia p{
    font-size: 14px;
}

.haypMovel {
    font-size: 14px;
    color: #fff;
    margin: 10px;
    font-weight: 400;
    text-align: center;
    margin: auto 0;
}

.containerBeneficios h5{
    font-size: 16px;
    color: #fff;
    margin: 10px;
    font-weight: 400;
    margin: auto 0;
}

.buttonAction{
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.76));
}

.buttonActionOpacity{
    
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    filter: drop-shadow(0 1mm 2mm rgba(0, 0, 0, 0.76));
}
.buttonActionOpacity span{
    font-size: 35px;
    font-weight: 800;
    color: var(--cor-2);
    margin: 0;
    position: relative;
    bottom: 3px;
}


.buttonAction span{
    font-size: 35px;
    font-weight: 800;
    color: var(--cor-2);
    margin: 0;
    position: relative;
    bottom: 3px;
}

.giga {
    font-size: 45px;
    color: #fff;
    margin: 0 0;

}

.contentGiga {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.prices{
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin: 10px auto 5px auto;
}

.price{
    font-size: 35px;
    text-align: center;
    color: var(--cor-2);
    margin: 0;
}

.prices small {
    font-size: 12px;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 10px;
    opacity: 0.6;
}

.button{
    display: block;
    
    width: 40%;
    text-align: center;
    margin: 8px auto 20px auto;
    padding: 0.8rem;
    font-size: 14px;
    border-radius: 15px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.479);
    color: #ffffff;
    font-weight: 500;

    background: var(--cor-5);
}

/* Inicio dos beneficios */

.containerBeneficios{
    position: relative;
    top: -50px;
    padding: 10px 35px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;

    margin: auto;
    background-color: var(--cor-6);
    color: var(--cor-3);
    border-radius: 20px;
    box-shadow: 0px 0px 5px #333;
}

.containerBeneficios h5{
    font-weight: 600;
    font-size: 16px;
}

.containerBeneficios p{
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 10px;
}

.containerBeneficios strong{
    color: var(--cor-2);
}

.imgBeneficios{
    display: flex;
    gap: 10px;
    margin: 15px 0;

}

/* Inicio dos destaque */

.containerDestaque{
    position: absolute;
    top: -50px; 
    width: 100%;
    height: 150px;

    
    background: linear-gradient(20deg, #008D1E 10%, #4AD62B 80%);

    border-radius: 20px;
    box-shadow: 0px 0px 5px #333;
    z-index: -1;
    

}

.destaque{
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin: 15px auto;

}