.content{
  margin: 20px auto auto auto ;
  display: flex;
  flex-direction: column;
  font-family: gordita;
  width: 80%;
}

.header{
  width: 150px;
}

.containerAvaliacoes{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content:space-between;
}

.comentarios{
  display: flex;
  flex-direction: column;

  
  padding: 5px;
}

.cinco{
  font-size: 20px;
}

.pessoas{
  font-size: 15px;
  font-weight: 500;
}

.stars{
  width: 150px;
}

.imgPessoas{
  width: 50px;
}

@media screen and  (min-width: 430px){

  .content {
      
      width: 500px;
      
  }
  
}