.content{
  margin: 20px auto auto auto ;
  display: flex;
  flex-direction: column;
  font-family: gordita;
  width: 80%;
}

.header{
  width: 150px;
}

.containerAvaliacoes{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content:space-between;
}

.comentarios{
  display: flex;
  flex-direction: column;

  
  padding: 5px;
}

.cinco{
  font-size: 20px;
}

.pessoas{
  font-size: 15px;
  font-weight: 500;
}

.stars{
  width: 150px;
}

.imgPessoas{
  width: 50px;
}


.Newcontent{
  margin: 20px auto auto auto ;
  display: flex;
  flex-direction: column;
  font-family: gordita;
  align-items: center;
  width: 80%;
}

.contentdocontent{
  position: relative;
}

.Newheader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.Newgoogle{
  display: flex;
  align-items: center;
  gap: 12px;
}

.Google{
  width: 160px;
}

.btGoogle{
  width: 100px;
  height: 30px;
  scale: 0.85;
  background: linear-gradient(50deg, #008D1E 0%, #4AD62B 59%);
  border-radius: 5px;
  border: none;
  color: #fff;
}

.header small{
  color: #fff;
}
.Newavaliacoes{
  color: #fff;
  width: auto;
}

.HeaderpersonaStars{
  display: flex;
  width: 290px;
  height: 20px;
  align-items: center;
  gap: 10px;
  justify-content: center;
}



.Newcomentarios{
  scale: 0.89;
  display: flex;
  justify-content: center;
  gap: 5px;
  color: var(--cor-3);
  width: 300px;
  height: auto;
  padding: 30px 25px;
  
  background-color: #fff;

  border-radius: 10px;
}

.Newcomentarios h2 {
  font-size: 25px;
}

.Newcomentarios p {
  font-size: 16px;
}

.Newcomentarios h2, .Newcomentarios p {
  margin: 0;
}

.Newstars{
  width: 120px;
}

.Newcomentarios small{
  font-weight: 500;
}

.Newcomentarios .fotoPessoal{
  width: 50px;
  height: 50px;
  position: relative;
  top: 20px;
  left: -10px;
}

.personaStars{
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--cor-3);
}

@media screen and  (min-width: 720px){

  .Newcomentarios {
      
      width: 600px;
      
  }
  
}